debug/
target/
**/*.rs.bk
*.pdb

# RustRover

**/data
**/node_modules
*.pth
assets/editor/*
assets/editor
.cursor/*
!.cursor/rules/
!.cursor/rules/**

.env
.env.local
backend/.env
frontend/public/stockfish/
